<% provide(:title, "Contact") %>
<div>
  <h1 class="text-6xl font-bold mb-4 text-center">StaticPages#Contact</h1>
  <p class="text-3xl mb-4 text-center">This will lead you to <a href="https://rubyonrails.org/community" target="_blank" class="text-blue-500 hover:underline">Community</a> 
  of Ruby on Rails</p>
</div>
