@tailwind base;
@tailwind components;
@tailwind utilities;

#logo {
  text-transform: uppercase;
}

#logo:hover {
  text-decoration: underline;
}


#footer_logo:hover {
  text-decoration: underline;
  text-decoration-color: rgb(198, 55, 55);
  color: rgb(198, 55, 55);
}

