<header class="bg-blue-500 text-white p-5 fixed top-0 w-full">
  <div class="mx-auto flex justify-between items-center">
    <%= link_to "sample_app", root_path, id: "logo", class: "text-3xl font-bold hover:text-gray-600" %>
    <nav class="p-2 rounded">
      <ul class="flex space-x-4">
        <li><%= link_to "Home", root_path, class: "rounded p-2 text-xl text-white hover:bg-gray-800" %></li>
        <li><%= link_to "Help", help_path, class: "rounded p-2 text-xl text-white hover:bg-gray-800" %></li>
        <li><%= link_to "Log in", '/static_pages/log_in', class: "rounded p-2 text-xl text-white hover:bg-gray-800" %></li>
      </ul>
    </nav>
  </div>
</header>